html {
    font-size: 10px;
}

input{
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

button{
    font-family: inherit;
    font-size: 100%;
    border: 0;
    padding: 0;
    background-color: transparent;
}

input:focus{
    outline: none;
}




/********************************
REGISTRATION PAGE
********************************/


.registration-page {
    background-image: url("/background4.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registration-container {
    width: 60%;
    height: 50%;
    background-color: rgba(60, 60, 62, 0.85);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reg-side {
    width: 40%;
    height: 100%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.white-slider {
    position: absolute;
    height: 110%;
    width: 50%;
    background-color: white;
    top: 0;
    bottom: 0;
    margin: auto 0;
    box-shadow: 1px 1px 10px black;
    border-radius: 2px;
    right: 5%;
}

.slideToLeft {
    right: 45%;
    animation-name: slideToLeft;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
}

@keyframes slideToLeft{
    0%  {
        right: 5%;
    }

    60% {
        right: 47%;
    }

    80% {
        right: 43%;
    }

    100% {
        right: 45%;
    }
}

.slideToRight {
    right: 5%;
    animation-name: slideToRight;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
}

@keyframes slideToRight{
    0%  {
        right: 45%;
    }

    60% {
        right: 3%;
    }

    80% {
        right: 7%;
    }

    100% {
        right: 5%;
    }
}

.form-container {
    width: 90%;
    height: 90%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.reg-title {
    color: indianred;
    font-size: 2.5rem;
    margin: 15px 0;
    text-transform: uppercase;
}

.reg-input {
    width: 100%;
    padding: 5px 3px;
    font-size: 1.8rem;
    border-bottom: 1px solid #DADADF;
    margin: 10px 0;
}

.button-container {
    display: flex;
    flex-flow: row-reverse;
    margin: 15px 0;
}

.button {
    background-color: #3D462B;
    padding: 15px;
    color: white;
    border-radius: 15px;
    font-size: 1.8rem;
    cursor: pointer;
}

.info-section {
    width: 30%;
    height: 50%;
    justify-self: flex-start;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
}

.info-section-right {
    right: 5%;
}

.info-section-left {
    left: 5%;
}

.info-section__title {
    color: white;
    font-size: 3rem;
    margin-bottom: 5px;
}

.info-section__body {
    color: #979797;
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.info-section__Button {
    font-size: 1.5rem;
    border: 1px solid #979797;
    color: #c9c9c9;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    width: 100px;
}


/********************************
Shopping PAGE
********************************/

.shopping-screen {
    height: 100vh;
    display: flex;
}

.products-container {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: flex-start;
    height: 100%;
    flex-wrap: wrap;
    overflow: scroll;
}

.product {
    width: 200px;
    height: 280px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    justify-content: space-between;
}

.product__name{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.product__image{
    /*height: 100%;*/
}

.product__add-button {
    width: 50%;
    margin-top: 5px;
    padding: 5px 10px;
    font-size: 1.8rem;
    background-color: #40C4D9;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;
}

.basket-container {
    width: 30%;
    height: 100%;
    background-color: #282D40;
    box-shadow: 1px 1px 20px #484848;
    color: white;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.basket {
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.basket-list {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.basket-item {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 10px 0;
}

.basket-item__remove-button {
    background-color: #DF6A5D;
    padding: 4px;
    border-radius: 15px;
    cursor: pointer;
}

.hint {
    color: #979797;
}

.basket-item__name {
    width: 50%;
}

.sign-out {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 1.8rem;
    color: #DF6A5D;
    font-weight: bold;
    cursor: pointer;
}